body{    
    background-color: rgb(0, 0, 0) ;
}
.edensflex{
    display: flex;
}
.edenstext{
    color: green;
}
.justify-content{
    justify-content: space-around;
}
.flex-wrap{
    flex-wrap: wrap;
}
fieldset{
    width: 600px;
    height: 150px;
    margin: 1%;
    background-color: rgb(29, 29, 29) ;
}
.flex-direction{
    flex-direction: column;
}
.align-items{
    align-items: center;
}
.edensheart{
    padding: 20px;
}
input{
    background-color: rgb(29, 29, 29) ;
    border-color: navy;
}
legend{
    background-color:rgb(29, 29, 29);
}
select{
    background-color:rgb(29, 29, 29) ;
    border: none;
}