body{
    background-color: blanchedalmond;
    font-size: 24px;
}

legend{
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
    border: 2px solid;
    border-radius: 10%;
    background: linear-gradient(rgb(255, 231, 185), rgb(255, 175, 71));
    
}

fieldset{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 6px 6px 12px rgb(59, 36, 2);
    margin-bottom: 30px;
    background: radial-gradient(rgb(255, 231, 126), rgb(255, 195, 92));
}

legend{
    text-align: center;
}

.ecart{
    padding: 10px;
}

.ecartg{
    margin-top: 10px;
    padding: 10px;
}

button{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background: linear-gradient(rgb(255, 219, 153), rgb(255, 175, 71));
    border-radius: 5%;
    font-size: 62px;
}

.flex{
    display: flex;
}

.justify-content-center{
    justify-content: center
}

.justify-content-flex-start{
    justify-content: flex-start;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

.gauche{
    width: 40%;
}

.droite{
    width: 40%;
}

.coord{
    font-size: 30px;
}

.formg{
    text-align: center;
}

.formd{
    text-align: center;
    padding: 10px;
}