@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #1D1E24;
    color: white;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    margin-top: 5%;
}

.description {
    text-align: center;
}



.chose {
    margin-top: 10%;
}



.btn-hover.color {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.headerbutton {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 5px;
}
